.App {
  text-align: center;
  letter-spacing: 0.5px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Bebas Neue", "Karantina", cursive;
  height: 100vh;

  button {
    margin-top: 3vh;
    height: 30px;
    border: none;
    background-color: white;
    font-size: 25px;
    letter-spacing: 0.5px;
    font-family: "Bebas Neue", cursive;
    z-index: 25;
  }
  button:hover {
    text-shadow: 2px 2px rgb(165, 165, 165);
    font-size: 25px;
  }

  #header {
    background-color: black;
    background-image: url("../DressApp.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
  }

  #filterPanel {
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 5vh;
    border-bottom: 1px solid rgba(172, 172, 172, 0.5);
    width: 100vw;

    @media (max-width: 500px) {
      flex-wrap: wrap;
      height: fit-content;
    }

    button {
      height: 100%;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 5vh;
      text-align: center;
      justify-content: center;
    }
  }

  #mobileToolTip {
    bottom: 0;
    z-index: 8;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 25px;
    display: none;
    margin-top: 10px;
    grid-row: 5;
    .fas.fa-angle-double-right {
      font-size: 25px;
    }
    .fas.fa-angle-double-left {
      font-size: 25px;
    }
    @media (max-width: 500px) {
      display: block;
    }
  }

  .items {
    margin-top: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;

    @media (max-width: 800px) {
      margin-top: 20px;
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(3, 1fr);
      overflow: hidden;
    }
    @media (max-width: 500px) {
      margin-top: 20px;
      display: grid;
      gap: 10px;
      grid-template-columns: 100%;
      overflow: hidden;
    }

    .item {
      border: 0.5px solid rgb(165, 165, 165);
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 50% 10% 10% 10% 10%;
      row-gap: 2.5%;
      position: relative;
      background-color: rgba(239, 238, 238, 0.5);
      height: 50vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: black;
      text-decoration: none;

      @media (max-width: 500px) {
        span {
          // display: none;
          opacity: 0;
          margin-left: 100%;
          transition: 500ms;
        }
      }

      .itemTitle {
        font-size: 35px;
      }

      span {
        background-color: rgba(239, 238, 238, 0.5);
        height: fit-content;
        // min-height: 3vh;
        transition: 500ms;
        font-size: 35px;
      }
      a {
        color: black;
        text-shadow: 2px 2px rgb(165, 165, 165);
      }
      .priceDetails {
        display: flex;
        justify-content: space-around;
        h3 {
          margin: 0;
          font-size: 85%;
        }
        .prevPrice {
          color: rgba(150, 0, 0, 0.808);
          text-decoration: line-through;
        }
      }
    }
    .mobileDetails {
      span {
        opacity: 1;
        margin-left: 0;
        transition: 500ms;
      }
    }
  }
}

.item:hover {
  span {
    filter: opacity(0);
  }
}

.colorCircle {
  width: 25px;
  height: 20px;
  border-radius: 3px 12px 3px;
  margin-right: 8px;
  // border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 1px;
  box-shadow: 0px 0px 2px 0px black;
}

.dancingLoader {
  position: absolute;
  height: 70%;
  width: 50%;
  bottom: 0%;
  left: 25%;

  @media (max-width: 500px) {
    width: 100%;
    left: 0;
  }
}
