.App {
  text-align: center;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  font-family: "Bebas Neue", cursive;

  #header {
    background-color: black;
    background-image: url("../DressApp.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
  }

  #filterPanel {
    display: flex;
    text-align: center;
    justify-content: space-around;

    button {
      margin-top: 3vh;
      height: 30px;
      border: none;
      background-color: unset;
      font-size: 25px;
      letter-spacing: 0.5px;
      font-family: "Bebas Neue", cursive;
    }
  }

  .items {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    .item {
      border: 0.5px solid rgb(165, 165, 165);
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 60% 20% 10% 10%;
      .itemTitle {
        font-size: 35px;
      }

      img {
        width: 100%;
        margin-top: 20px;
        height: 100%;
      }
      a {
        color: teal;
      }
      .priceDetails {
        .price {
          font-size: 200%;
        }
        .prevPrice {
          color: red;
          font-size: 200%;
          text-decoration: line-through;
        }
        .discountPercent {
          font-size: 200%;
        }
      }
    }
  }
}
