.App {
  text-align: center;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  font-family: "Bebas Neue", cursive;

  #header {
    background-color: black;
    background-image: url("../DressApp.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
  }

  #filterPanel {
    display: flex;
    text-align: center;
    justify-content: space-around;

    button {
      margin-top: 3vh;
      height: 30px;
      border: none;
      background-color: unset;
      font-size: 25px;
      letter-spacing: 0.5px;
    }
  }

  .items {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    .item {
      border: 0.5px solid rgb(165, 165, 165);
      img {
        width: 80%;
        margin-top: 20px;
        height: 50%;
      }
      a {
        color: teal;
      }
    }
  }
}
