.App {
  text-align: center;
  letter-spacing: 0.5px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Bebas Neue", "Karantina", cursive;
  height: 100vh;
}

.App button {
  margin-top: 3vh;
  height: 30px;
  border: none;
  background-color: white;
  font-size: 25px;
  letter-spacing: 0.5px;
  font-family: "Bebas Neue", cursive;
  z-index: 25;
}

.App button:hover {
  text-shadow: 2px 2px #a5a5a5;
  font-size: 25px;
}

.App #header {
  background-color: black;
  background-image: url("../DressApp.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
}

.App #filterPanel {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 5vh;
  border-bottom: 1px solid rgba(172, 172, 172, 0.5);
  width: 100vw;
}

@media (max-width: 500px) {
  .App #filterPanel {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.App #filterPanel button {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 5vh;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App #mobileToolTip {
  bottom: 0;
  z-index: 8;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 25px;
  display: none;
  margin-top: 10px;
  -ms-grid-row: 5;
  grid-row: 5;
}

.App #mobileToolTip .fas.fa-angle-double-right {
  font-size: 25px;
}

.App #mobileToolTip .fas.fa-angle-double-left {
  font-size: 25px;
}

@media (max-width: 500px) {
  .App #mobileToolTip {
    display: block;
  }
}

.App .items {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
}

@media (max-width: 800px) {
  .App .items {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .App .items {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    overflow: hidden;
  }
}

.App .items .item {
  border: 0.5px solid #a5a5a5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 50% 10% 10% 10% 10%;
      grid-template-rows: 50% 10% 10% 10% 10%;
  row-gap: 2.5%;
  position: relative;
  background-color: rgba(239, 238, 238, 0.5);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  text-decoration: none;
}

@media (max-width: 500px) {
  .App .items .item span {
    opacity: 0;
    margin-left: 100%;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
}

.App .items .item .itemTitle {
  font-size: 35px;
}

.App .items .item span {
  background-color: rgba(239, 238, 238, 0.5);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: 500ms;
  transition: 500ms;
  font-size: 35px;
}

.App .items .item a {
  color: black;
  text-shadow: 2px 2px #a5a5a5;
}

.App .items .item .priceDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.App .items .item .priceDetails h3 {
  margin: 0;
  font-size: 85%;
}

.App .items .item .priceDetails .prevPrice {
  color: rgba(150, 0, 0, 0.808);
  text-decoration: line-through;
}

.App .items .mobileDetails span {
  opacity: 1;
  margin-left: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.item:hover span {
  -webkit-filter: opacity(0);
          filter: opacity(0);
}

.colorCircle {
  width: 25px;
  height: 20px;
  border-radius: 3px 12px 3px;
  margin-right: 8px;
  padding: 1px;
  -webkit-box-shadow: 0px 0px 2px 0px black;
          box-shadow: 0px 0px 2px 0px black;
}

.dancingLoader {
  position: absolute;
  height: 70%;
  width: 50%;
  bottom: 0%;
  left: 25%;
}

@media (max-width: 500px) {
  .dancingLoader {
    width: 100%;
    left: 0;
  }
}
/*# sourceMappingURL=app.css.map */