.App {
  text-align: center;
  letter-spacing: 0.5px;
  overflow-x: hidden;

  #filterPanel {
    display: flex;
    text-align: center;
    justify-content: space-around;

    button {
      margin-top: 3vh;
      height: 30px;
      border: none;
      background-color: unset;
      font-size: 25px;
      letter-spacing: 0.5px;
    }
  }

  .items {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    .item {
      img {
        width: 80%;
        height: 50%;
      }
    }
  }
}
