.App {
  text-align: center;
  letter-spacing: 0.5px;
  overflow-y: scroll;
  font-family: "Bebas Neue", "Karantina", cursive;
  height: 100vh;
  button {
    margin-top: 3vh;
    height: 30px;
    border: none;
    background-color: unset;
    font-size: 25px;
    letter-spacing: 0.5px;
    font-family: "Bebas Neue", cursive;
  }
  button:hover {
    text-shadow: 2px 2px rgb(165, 165, 165);
    font-size: 25px;
  }

  #header {
    background-color: black;
    background-image: url("../DressApp.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
  }

  #filterPanel {
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 5vh;
    border-bottom: 1px solid rgba(172, 172, 172, 0.5);

    button {
      height: 100%;
      margin-top: 0;
      line-height: 5vh;
      text-align: center;
      justify-content: center;
    }
  }

  .items {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    overflow: hidden;

    .item {
      border: 0.5px solid rgb(165, 165, 165);
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 60% 20% 10% 10%;
      position: relative;
      background-color: rgba(239, 238, 238, 0.5);
      height: 50vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: black;
      text-decoration: none;

      .itemTitle {
        font-size: 35px;
      }

      span {
        background-color: rgba(239, 238, 238, 0.5);
        height: fit-content;
        // min-height: 3vh;
        transition: 500ms;
        font-size: 35px;
      }
      a {
        color: black;
        text-shadow: 2px 2px rgb(165, 165, 165);
      }
      .priceDetails {
        display: flex;
        justify-content: space-around;
        h3 {
          margin: 0;
          font-size: 85%;
        }
        .prevPrice {
          color: rgba(150, 0, 0, 0.808);
          text-decoration: line-through;
        }
      }
    }
  }
}

.item:hover {
  span {
    filter: opacity(0);
  }
}
.dancingLoader {
  width: 100%;
  padding-bottom: 144%;
  position: relative;
  overflow: hidden;
}
.dancingLoader:hover {
}
